body .middle main article {
    margin-bottom: 2rem;
}

body .middle main article .title {
    font-size: 1.5rem !important;
    color: #3B5998 !important;
}

body .middle main article .information {
    color: #889;
    font-size: 0.9rem;
    margin-top: 0.1rem;
}

body .middle main article .body {
    border-left: 4px solid #B9B9B9;
    padding-left: 1rem;
}

body .middle main article .footer .left {
    display: inline;
}

body .middle main article .footer .left span {
    display: inline-block;
    padding-bottom: 0.7rem;
}

body .middle main article .footer {
    position: relative;
    height: 1.7rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

body .middle main article .footer .right {
    display: inline;
    float: right;
    margin-top: 0.25rem;
    margin-right: 0.5rem
}


main article .footer .left .positive-score {
    font-size: 1.5rem;
    color: #3f9321;
    vertical-align: middle;
}